<html>
  <head>
    <title>This is the game helper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
  </head>
  <body>
    <div id="app">
        <label for="typeofcards">What type of cards would you like?</label>
        <select v-model="typeofcards" name="typeofcards">
           <option id="scifi">Sci-Fi</option>
           <option id="base">Base</option>
        </select>
        <br>
        <br>
        <label for="numofcards">How many cards would you like?</label>
        <input type="number" v-model="numofcards" name="numofcards"></input>
        <button v-on:click="gencard" class="btn btn-primary">Generate Cards</button><br><br>
        <div v-if="imgbool" v-for="img in imagelist">
            <div class="card" style="width: 18rem;">
              <img v-bind:src="img" class="card-img-top">
              <div class="card-body">
                 <div class="card-title">
                    GMA Card
                 </div>
              </div>
            </div>
            <br>
            <br>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              GMA runes legend:
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                An Item
              </li>
              <li>
                Another item
              </li>
            </ul>
          </div>
        </div>
        <label for="numoffudge">How many fudge die would you like?</label>
        <input v-model="numoffudge" type="number" name="numoffudge"></input>
        <button type="button" class="btn btn-primary" v-on:click="genfudge">Roll fudge die</button>
        <div class="container">
          <div class="row align-items-start">
            <div v-if="fudgebool" v-for="die in fudgelist" class="col">
              <img style="width: 45%; height: 45%;" v-bind:src="die.dietype"></div>
            </div>
          </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/random-js/1.0.8/random.min.js" integrity="sha512-C/21kASTZDv173aY5ERBPWuV9JVne9nhII/ZA7NIGhuPVCtGK5WnD6wzQ7dlQajXvu3003cojqouByxh+Fh3kg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
