<template>
  <IonApp>
    <ion-content>
      <ion-label for="typeofcards">What type of cards would you like</ion-label>
      <ion-select v-model="typeofcards" name="typofcards">
        <ion-select-option id="scifi">Sci-Fi</ion-select-option>
        <ion-select-option id="base">Base</ion-select-option>
      </ion-select>
      <br>
      <br> 
      <ion-label for="numofcards">How many cards would you like?</ion-label>
      <ion-input type="number" v-model="numofcards" name="numofcards"></ion-input>
      <ion-button @click="gencard">Generate Cards</ion-button>
      <div v-if="imgbool">
        <ion-card style="width: 18rm;" v-for="img in imglist" :key="img.id">

          <img :src="img.image">
          <ion-card-header>
            <ion-card-title>GMA Card</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <br>
      <br>
      <ion-label for="numoffudge">How many fudge die would you like?</ion-label>
      <ion-input v-model="numoffudge" type="number" name="numoffudge"></ion-input>
      <ion-button @click="genfudge">Roll fudge die</ion-button>
      <ion-grid v-if="fudgebool">
        <ion-row v-for="chunk in fudgechunks" :key="chunk.id" class="ion-align-items-start">

          <ion-col v-for="die in chunk.fudgelist" :key="die.id">
            
            <img style="width:45%; height: 45%;" :src="die.dietype">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </IonApp>
</template>

<script lang="ts">
import { IonApp, IonContent, IonLabel, IonButton, IonRow, IonSelect, IonInput, IonCard, } from '@ionic/vue';
import { defineComponent } from 'vue';
import _  from "lodash";
import axios from "axios";
import { Random } from "random-js";

export default defineComponent({
  name: 'App',
  components: {
    IonApp, 
    IonContent, 
    IonButton,
    IonRow,
    IonSelect,
    IonInput,
    IonCard,
    IonLabel,
  },
  data() {
      return {
        imglist: [],
        baseimgs: Object(),
        sciimgs: Object(),
        typeofcards: 'Sci-Fi',
        imgbool: false,
        numoffudge: 0,
        numofcards: 0,
        fudgelisttwo: [], 
        fudgebool: false,
        fudgetypes: [{dietype: require("../public/assets/fudge-blank.svg")}, {dietype: require("../public/assets/fudge-minus.svg")}, {dietype: require("../public/assets/fudge-plus.svg")}],
      }
  },
  mounted() {
    axios.get('https://oracle.cabezud.net/base')
    .then((res) => {
       this.baseimgs= res.data.imgobj;
    })
    .catch((err) => {
       console.log("Could not retrive base image list: " + err);
    });
    axios.get('https://oracle.cabezud.net/sci')
    .then((res) => {
       this.sciimgs = res.data.imgobj;
    })
    .catch((err) => {
       console.log("Could not retrieve sci-fi image list: " + err);
    });
  },
  computed: {
     fudgechunks(){
        let myList = [];
	let final: any[];
        final = [];
        let mynumber = 0;
        myList =  _.chunk(Object.values(this.fudgelisttwo), 4);
        _.forEach(myList, (chunk) => {
            final.push({fudgelist: chunk, id: mynumber});
            mynumber++;
        });
        console.log(JSON.stringify(final));
        return final;
     }
  },
  methods: {
    gencard() {
       const random = new Random();
       this.imglist = [];
       const self: any = this;
       let mynumber = 0;
       if(this.typeofcards === 'Sci-Fi')
       {
         _.forEach(_.range(this.numofcards), function() {
            self.imglist.push({id: mynumber, image: "https://oracle.cabezud.net/" + self.sciimgs[random.integer(0,119)].image});
            mynumber++;
         });
         this.imgbool = true;
       }
       if(this.typeofcards === 'Base')
       {
         _.forEach(_.range(this.numofcards), function() {
            self.imglist.push({id: mynumber, image: "https://oracle.cabezud.net/" + self.baseimgs[random.integer(0,119)].image});
            mynumber++;
        });
        this.imgbool = true;
       }
    },
    genfudge() {
       const random = new Random();
       this.fudgelisttwo = [];
       const self: any = this;
       let mynumber = 0;
       _.forEach(_.range(this.numoffudge), function() {
           self.fudgelisttwo.push({id: mynumber, dietype: self.fudgetypes[random.integer(0,2)].dietype});
       });
       this.fudgebool = true;
    },
  },
});
</script>

<style scoped>
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
</style>
